
@mixin textDefault() {
    font-family: $default-font;
    color: black;
    text-decoration: none;
    text-transform: uppercase;

}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin contentDiv() {
            
    padding: 10px;
    background-color: tan;
    box-shadow: 5px 10px 10px #ABB2B9;
    border: 2px solid black;
}

@mixin h1Tag() {
    text-align: center;
    font-size: 4vh;
}

@mixin h2Tag() {
    text-align: center;
    
    font-size: 2vh;
}

@mixin h3Tag() {
    font-size: 2vh;
    font-family: $default-font-bold
}

@mixin pTag() {
    font-size: 2vh;
    margin-bottom: 5px;
}

@mixin button($color) {

    background-color: beige;
    border-color: black;
    font-size: 16px;
    box-shadow: 4px 4px 4px $color;
}


@mixin header() {

    @include width-height(100%, 15vh);
    @include textDefault();
    padding: 5px;
    background-color: $default-gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

    .linkDiv {

        @include width-height(100%, 100%);
        display: flex;
        align-items: center;

        a {

            @include textDefault();
            font-size: 7vh;

        }
    }

    .logoDiv {

        @include width-height(100%, 100%);

        display: flex;
        justify-content: flex-start;
    
    }

    .ProfileDiv {

        @include width-height(100%, 100%);
        @include textDefault();
        display: flex;
        align-items: center;
        justify-content: flex-end;


        button {

            @include button($button-shadow-gray);
            margin-right: 20px;

            a {
                @include textDefault();
            }

        }
    }


}

@mixin content() {
    
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    overflow-y: scroll;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;

}