@font-face {
    font-family: 'Nodesto Caps Condensed Bold';
    src: url('./fonts/Nodesto-Caps-Condensed-Bold.otf');
}

@font-face {
    font-family: 'Nodesto Caps Condensed';
    src: url('./fonts/Nodesto-Caps-Condensed.otf');
}

$default-gray: #404646;
$button-shadow-beige: #919182;
$button-shadow-tan: #87735a;
$button-shadow-gray: #252828;
$default-font-bold: 'Nodesto Caps Condensed Bold';
$default-font: 'Nodesto Caps Condensed'