
.Window {


    
    .Body {
        @include width-height(100%, 85vh);
        
        .Armor {
            
            @include width-height(100%, 100%);
            @include content();

            .armorDiv {
                margin-bottom: 20px;
                margin-right: 20px;
                min-height: 200px;
                width: 48%;

            }

            .armorDiv:nth-child(even) {
                margin-bottom: 20px;
                margin-right: 0px;
            }

            .createDiv {
                @include contentDiv();
                @include textDefault();
                
                display: flex;
                flex-direction: column;

                width: 48%;
                
                button {
                    @include button($button-shadow-tan);
                }

                input {
                    @include inputTag();
                    margin-bottom: 10px;
                }

                textarea {
                    @include textareaTag();
                }
            }
        }
    }

}

::-webkit-scrollbar {
    width: 20px; 
}
    
::-webkit-scrollbar-track {
    border-left: 2px solid black;
    background: #f1f1f1;
}
    
::-webkit-scrollbar-thumb {
    border-left: 2px solid black;
    background: #888;
}
        
::-webkit-scrollbar-thumb:hover {
    background: #555;
}