
.DashItem {
    @include width-height(100%, 100%);
    

    
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    
    
    .ItemBut {
        @include textDefault();
        @include width-height(100%, 100%);
        @include button($button-shadow-beige);
        margin-right: 10px;  
    }

    .DelBut {

        @include textDefault();
        @include button($button-shadow-beige);
        height: 100%;
    }
}