
.Dashboard {
    @include width-height(30%, 100%);
    @include textDefault();

    font-size: 25px;
    background-color: beige;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border: 2px solid black;

    .displayButton {

        text-align: center;
        @include textDefault();
        width: 100%;
        margin-bottom: 20px;
        

        button {

            @include textDefault();
            @include button($button-shadow-beige);
            width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
        }

    }

    .SectionTitle {
        text-align: center;
        border-bottom: 2px solid red;
        padding-bottom: 10px;
        a {
            @include textDefault();

        }
    }
    
    .Items {
        width: 100%;
        padding-top: 10px;
        
    } 
    
}

::-webkit-scrollbar {
    width: 20px; 
}
    
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
    
::-webkit-scrollbar-thumb {
    background: #888;
}
        
::-webkit-scrollbar-thumb:hover {
    background: #555;
}