
.Monster {
    @include width-height(100%, 100%);
    @include contentDiv();
    @include textDefault();

    h1 {
        @include h1Tag();
    }

    h2 {
        @include h2Tag();
    }

    h3 {
        @include h3Tag();
    }

    p {
        @include pTag();
    }

    .Stats {
        display: flex;
        justify-content: space-around;
        
    }

    .ActAb {
        display: flex;
        flex-direction: row;

    }

    .addButton {

        display: flex;
        justify-content: center;
        
        button {
            @include textDefault();
            @include button($button-shadow-tan);
        }
    }
}