.Mount {
    
    @include contentDiv();
    @include textDefault();

    height: 100%;
    width: 100%;

    h1 {
        @include h1Tag();
    }

    h2 {
        @include h2Tag();
    }

    p {
        @include pTag();
    }
    

    .addButton {

        display: flex;
        justify-content: center;
        
        button {
            @include textDefault();
            @include button($button-shadow-tan);
        }
    }
}

