
.Window {


    
    .Body {

        @include width-height(100%, 85vh);
    
        .Mounts {
            
            @include width-height(100%, 100%);
            @include content();
        
            .createDiv {
                @include width-height(48%, 45%); 
                @include contentDiv();
                @include textDefault();

                margin-bottom: 20px;
                margin-right: 20px;
                
                display: flex;
                flex-direction: column;

                button {
                    @include button($button-shadow-tan);
                }

                input {
                    @include inputTag();
                    margin-bottom: 10px;
                }

                textarea {
                    @include textareaTag();
                }
            }
        }
    }

}

::-webkit-scrollbar {
    width: 20px; 
}
    
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
    
::-webkit-scrollbar-thumb {
    background: #888;
}
        
::-webkit-scrollbar-thumb:hover {
    background: #555;
}