.Weapon {
    @include width-height(48%, 30%);
    margin-bottom: 20px;
    margin-right: 20px;
    @include contentDiv();
    @include textDefault();

    h1 {
        @include h1Tag();
    }

    h2 {
        @include h2Tag();
    }

    .properties {
        display: flex;
    }

    p {
        @include pTag();
    }

    .addButton {

        display: flex;
        justify-content: center;
        
        button {
            @include textDefault();
            @include button($button-shadow-tan);
        }
    }
}